flask
Werkzeug
requests
python-dotenv
google-cloud-datastore
Pillow
fastapi
uvicorn
pydantic
faker
vertexai
google-cloud-aiplatform
python-multipart
jinja2
starlette
typing-extensions
certifi
idna
urllib3
cachetools
google-auth
grpcio
grpcio-status
protobuf
requests_oauthlib